html,
body
	margin: 0
	height: 100%

.wrapper
	position: relative
	height: 100%
	min-height: 100%

.header
	background: linear-gradient(to right, #b9deed, #d6e3e7 ,#b9deed,)
	display: flex
	align-items: center
	justify-content: center
	.logo
		background: url(../images/logo.svg)
		background-size: 100%
		background-repeat: no-repeat
		width: 12em
		height: 12em

.content.start-page
	display: flex
	align-items: center
	justify-content: center
	padding-bottom: 50px
	height: 75%
	

.footer
	display: flex
	align-items: center
	justify-content: flex-end
	position: absolute
	left: 0
	bottom: 0
	width: 100%
	height: 50px
	background-color: #b9deed
	.footer-description
		padding: 10px

	
